<div class="container-fluid d-flow justify-content-between row">
  <div class="card" style="width: 18rem;">
    <div class="card-body mt-3">
      <div class="row">
        <h5 class="card-title col-6">Quantidade de dados encapsulados</h5>
        <div class="col-6">
          <div class="circle-green mx-auto"></div>
        </div>

      </div>
      <h6 class="card-subtitle mb-2 text-body-secondary h1">{{dadosEncapsulados}}</h6>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body mt-3">
      <div class="row">
        <h5 class="card-title col-6">Clientes com redundancia</h5>
        <div class="col-6">
          <div class="circle-red mx-auto"></div>
        </div>

      </div>
      <h6 class="card-subtitle mb-2 text-body-secondary h1">{{clientesCadastrados}}</h6>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body mt-3">
      <div class="row">
        <h5 class="card-title col-6">dados com redundância</h5>
        <div class="col-6">
          <div class="circle-green mx-auto"></div>
        </div>

      </div>
      <h6 class="card-subtitle mb-2 text-body-secondary h1">{{clientesComRedundancia}}</h6>
    </div>
  </div>
</div>

